.banner {
	height: 70vh;
	background-image: url('../../assets/images/banner-image.jpg');
	background-position: left-top;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;

	.banner-inner {
		flex: 1 0 90%;
		align-self: center;

		h1 {
			font-weight: 300;
			text-transform: uppercase;
			text-align: center;
			font-size: 1em;
		}

		.banner-logo {
			width: 80%;
			margin: 0 auto;

			img {
				width: 100%;
				display: block;
			}
		}
	}
}

@media only screen and (min-width : 40em) {
	.banner {
		justify-content: flex-start;
		padding: 0 5em;

		.banner-inner {

			h1 {
				text-align: left;
			}

			.banner-logo {
				max-width: 22em;
				margin: 0;
			}
		}
	}
}

@media only screen and (min-width : 60em) {
	.banner {
		padding: 0 10em;
	}
}

@media only screen and (min-width : 80em) {
	.banner {
		padding: 0 18em;
	}
}