.client-logo {
	width: 50%;
	margin: 3em auto;

	img {
		width: 100%;
		display: block;
		filter: grayscale(100%);
		transition: .8s ease all;

		&:hover {
			filter: none;
		}
	}
}

@media only screen and (min-width : 40em) {
	.client-logo {
		width: 80%;
	}
}

@media only screen and (min-width : 60em) {
	.client-logo {
		margin: 0 3em;
	}
}