footer {
	background-color: #000;
	padding: 3em 1em;
	color: #fff;

	.footer-logo {
		width: 80%;
		margin: 0 auto;

		img {
			display: block;
			width: 100%;
		}
	}

	.footer-social {
		text-align: center;
		margin: 1em 0;
		a {
			color: #fff;
			text-decoration: none;
			margin: 0 .85em;

			i {
				font-size: 1.5em;
			}
		}
	}

	.footer-devider {
		height: 1px;
		outline: none;
		border: 0;
		background-color: #fff;
		opacity: .5;
		margin: 2em auto;
		max-width: 1400px;
	}

	.footer-nav {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				text-align: center;
				margin-bottom: 1em;

				a {
					text-decoration: none;
					color: #fff;
				}
			}
		}
	}

	.footer-copy {
		text-align: center;
		font-weight: 300;
		margin-top: 2em;
	}

}

@media only screen and (min-width : 40em) {
	footer {
		.footer-row {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			.footer-logo {
				max-width: 10em;
				margin: 0;
			}

			.footer-nav {
				flex: 1 0 90%;
				ul {
					display: flex;

					li {
						flex: 1 0 auto;
						margin: 0;
						margin-right: .4em;
					}
				}
			}

			.footer-copy {
				text-align: center;
				flex: 1 0 90%;
			}

			.footer-social {
				a {
					i {
						transition: .5s ease all;
					}

					&:hover {
						color: $precision-green;
					}
				}
			}
		}
	}
}

@media only screen and (min-width : 60em) {
	footer {
		padding: 2em;
		.footer-row {
			max-width: 1400px;
			margin: 0 auto;

			.footer-nav {
				flex: 1 0 45%;
				align-self: center;

				li {
					text-align: left;
				}
			}

			.footer-copy {
				flex: 1 0 45%;
				margin: 0;
				text-align: right;
			}
		}
	}
}