.col-3-container {

	align-items: stretch;

}

.work-item {
	display: flex;
	flex-direction: column;
	height:100%;

	&-image {
		width: 100%;
		margin: 0 auto;
		height: 20em;
		overflow: hidden;
		box-shadow: 1px 3px 10px rgba(0,0,0,0.3);
		flex: 0 0 auto;

		img {
			display: block;
			width: 100%;
		}
	}

	&-overlay {
		text-align: center;
		margin: 2em 0;
		display:flex;
		flex-direction: column;
		flex: 1 0 auto;


		.overlay-title, .overlay-button {
			flex: 0 0 auto;

		}
		.overlay-blurb {
			flex: 1 0 auto;

		}
	}

	.overlay-button {
		margin-top: 2em;
	}
}

.work-single {

	.section-heading {
		margin-bottom: .5em;
	}

	&-subheading {
		h2 {
			font-weight: 300;
			text-align: center;
			font-size: 1em;
		}
	}

	&-mockup {
		width: 80%;
		margin: 1.5em auto;
		max-width: 25em;

		img {
			width: 100%;
			display: block;
		}
	}

	&-information {
		margin: 1.5em auto;
		span {
			font-weight: 700;
		}

		a {
			color: $precision-green;
		}
	}
}

#work-single-gallery {
	background-color: rgba(0,0,0,0.03);
	.work-gallery {
		.work-single-gallery-item {
			width: 100%;
			margin-bottom: 1em;

			img {
				width: 100%;
				display: block;
			}
		}
	}
}

@media only screen and (min-width: 40em){
	#work-single-gallery {
		.work-gallery {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.work-single-gallery-item {
				box-sizing: border-box;
				padding: .5em;
				flex: 0 0 50%;
				align-self: center;
				align-self: center;
				margin: 0;

				&:nth-child(odd) {
					padding-right: .25em;

				}

				&:nth-child(even){
					padding-left: .25em;
				}

				img {
					width: 100%;
					display: block;
				}
			}
		}
	}
}

@media only screen and (min-width: 50em){
	#work-single {
		.section-inner {
			display: flex;
			flex-wrap: wrap;

			.section-heading {
				flex: 1 0 90%;
				margin-bottom: .5em;
			}

			.work-single-subheading {
				flex: 1 0 90%;
				margin-bottom: 2.5em;
			}

			.work-single-column {
				flex: 1 0 45%;
			}
		}
	}
}
@media only screen and (min-width : 60em) {
	.work-item {
		position: relative;
		margin: 0 2em;

		&-image {
			height: 27em;
		}

		&-overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			margin: 0 auto;
			color: #fff;
			background-color: rgba(0,0,0,.9);
			transition: .7s ease all;
			opacity: 0;

			&:hover {
				opacity: 1;
			}

			.overlay-title {
				margin: 2em 1em;

				h1 {
					margin: 0;
				}
			}

			.overlay-blurb {
				margin: 0 1em;
			}

			.overlay-button {
				border-color: #fff;
				margin: 2em auto;

				a {
					color: #fff;
				}
			}
		}
	}

	.all-work-button {
		margin: 2em auto;
	}

	.main-button {
		// margin: 2em auto;
		position: relative;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-transition: color .5s;
		transition: color .5s;

		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $precision-green;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transform-origin: 0 50%;
			transform-origin: 0 50%;
			-webkit-transition-property: transform;
			transition-property: transform;
			-webkit-transition: .5s ease-out;
			transition: .5s ease-out;
		}

		&:hover:before {
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}

		a {
			transition: .5s ease all;
		}

		&:hover a{
			color:#fff;
		}
	}

	#work-single-gallery {
		.work-gallery {

			.work-single-gallery-item {
				flex: 0 0 30%;
				padding: 1em !important;
			}
		}
	}
}